.landingPage {
  --forkitall-topbar-height: 64px;
  height: 100vh;
  max-height: 100vh;
}

.landingPageContent {
  height: calc(100vh - var(--forkitall-topbar-height));
  overflow: auto;
}

.landingPageSection {
  padding-top: var(--forkitall-spacer-400);
  padding-bottom: var(--forkitall-spacer-600);
}
