@use "@shared/styles/breakpoints";

.imageWrapper {
  position: relative;
  width: calc(100vw - var(--0xf-global-scrollbar-width));
  height: 400px;
  margin-top: var(--0xf-spacer-600);
  opacity: 0.1;
}

.image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: breakpoints.$forkitall-breakpoint-md) {
  .imageWrapper {
    margin-top: 0;
  }
}
