.homeSection {
  min-height: calc(100vh - var(--0xf-topbar-height));
  position: relative;
}

.homeHero {
  position: absolute;
  bottom: calc(100vh / 5);
  left: 0;
  z-index: 5;
}

.homeImage {
  position: absolute;
  right: 0;
  top: calc(100vh / 6);
  width: 400px;
  height: 400px;
  background-color: var(--0xf-color-surface);
  border-radius: 50px;
}
