@use "@shared/styles/breakpoints/breakpoints";

.aboutImage {
  position: relative;
  width: 180px;
  height: 180px;
  position: relative;
  background-color: var(--0xf-color-surface);
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
  animation: glow 1.5s ease-in-out infinite alternate;
  transition: transform 0.5s;
  border: 1px solid var(--0xf-color-primary);
}

.aboutImage:hover {
  transform: scale(1.05);
}

.description {
  margin-left: var(--0xf-spacer-400);
}

@media screen and (max-width: breakpoints.$forkitall-breakpoint-md) {
  .aboutWrapper {
    align-items: center;
  }
  .stackedImage {
    margin-top: 0;
  }
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 30px -10px var(--0xf-color-primary);
  }
  to {
    box-shadow: 0px 0px 40px -10px var(--0xf-color-primary);
  }
}
