$forkitall-icon-color: ("white", "black", "primary");

:root {
  --0xf-icon-color: inherit;
  --0xf-icon-size: 24px;
}

.icon {
  width: var(--0xf-icon-size);
  height: var(--0xf-icon-size);
  color: var(--0xf-icon-color);
}

@each $color in $forkitall-icon-color {
  .icon--color-#{$color} {
    color: var(--0xf-color-#{$color});
  }
}
