:root,
.forkitall-theme-DARK:root {
  /* Primary colors */
  --0xf-color-primary-100: #daf5e9;
  --0xf-color-primary-200: #b6ebd3;
  --0xf-color-primary-300: #91e0bc;
  --0xf-color-primary-400: #6dd6a6;
  --0xf-color-primary-500: #48cc90;
  --0xf-color-primary-600: #3aa373;
  --0xf-color-primary-700: #2b7a56;
  --0xf-color-primary-800: #1d523a;
  --0xf-color-primary-900: #0a330a;

  /* Gray colors */
  --0xf-color-gray-50: #f2f2f2;
  --0xf-color-gray-100: #e4e4e4;
  --0xf-color-gray-200: #c9c9c9;
  --0xf-color-gray-300: #afafaf;
  --0xf-color-gray-400: #949494;
  --0xf-color-gray-500: #797979;
  --0xf-color-gray-600: #616161;
  --0xf-color-gray-700: #494949;
  --0xf-color-gray-800: #303030;
  --0xf-color-gray-900: #181818;
  --0xf-color-gray-950: #0c0c0c;

  /* Orange colors */
  --0xf-color-orange-100: #ffedd5;
  --0xf-color-orange-300: #fdba74;
  --0xf-color-orange-500: #f97316;
  --0xf-color-orange-700: #c2410c;
  --0xf-color-orange-900: #7c2d12;

  /* Red colors */
  --0xf-color-red-100: #fee2e2;
  --0xf-color-red-300: #fca5a5;
  --0xf-color-red-500: #ef4444;
  --0xf-color-red-700: #b91c1c;
  --0xf-color-red-900: #7f1d1d;

  /* Green colors */
  --0xf-color-red-100: #dcfce7;
  --0xf-color-red-300: #86efac;
  --0xf-color-red-500: #22c55e;
  --0xf-color-red-700: #15803d;
  --0xf-color-red-900: #14532d;

  /* Aliases */
  --0xf-color-inherit: inherit;

  --0xf-color-white: var(--0xf-color-gray-50);
  --0xf-color-black: var(--0xf-color-gray-950);
  --0xf-color-muted: var(--0xf-color-gray-400);

  --0xf-color-primary: var(--0xf-color-primary-500);
  --0xf-color-surface: var(--0xf-color-gray-900);
  --0xf-color-divider: var(--0xf-color-gray-700);

  --0xf-color-success: var(--0xf-color-red-500);
  --0xf-color-error: var(--0xf-color-red-500);
  --0xf-color-warning: var(--0xf-color-orange-500);

  --0xf-color-body-background-color: var(--0xf-color-black);
  --0xf-color-body-color: var(--0xf-color-white);
}
