.forkitall-theme-LIGHT:root {
  /* Aliases */
  --0xf-color-inherit: inherit;

  --0xf-color-white: var(--0xf-color-gray-950);
  --0xf-color-black: var(--0xf-color-gray-50);
  --0xf-color-muted: var(--0xf-color-gray-600);

  --0xf-color-surface: var(--0xf-color-gray-100);
  --0xf-color-divider: var(--0xf-color-gray-300);

  --0xf-color-body-background-color: var(--0xf-color-gray-50);
  --0xf-color-body-color: var(--0xf-color-gray-950);

  /* Global */
  --0xf-global-scrollbar-track-color: var(--0xf-color-gray-300);

  /* Button */
  --0xf-button-variant-neutral-white-hover-icon-color: var(--0xf-color-gray-700);
  --0xf-button-variant-neutral-black-hover-icon-color: var(--0xf-color-gray-200);

  /* Chip */
  --0xf-chip-background-color: var(--0xf-color-gray-200);
  --0xf-chip-hover-background-color: var(--0xf-color-gray-300);
}
