:root,
.forkitall-theme-DARK:root {
  /* Primary colors */
  --0xf-color-primary-100: #d6ffd6;
  --0xf-color-primary-300: #85ff85;
  --0xf-color-primary-500: #33ff33;
  --0xf-color-primary-600: #29cc29;
  --0xf-color-primary-700: #1f991f;
  --0xf-color-primary-900: #0a330a;

  /* Secondary colors */
  --0xf-color-secondary-100: #d7f9f9;
  --0xf-color-secondary-300: #86eeee;
  --0xf-color-secondary-500: #36e2e2;
  --0xf-color-secondary-600: #2bb5b5;
  --0xf-color-secondary-700: #208888;
  --0xf-color-secondary-900: #0b2d2d;

  /* Gray colors */
  --0xf-color-gray-100: #e4e4e4;
  --0xf-color-gray-200: #c9c9c9;
  --0xf-color-gray-300: #afafaf;
  --0xf-color-gray-400: #949494;
  --0xf-color-gray-500: #797979;
  --0xf-color-gray-700: #494949;
  --0xf-color-gray-800: #303030;
  --0xf-color-gray-900: #181818;

  /* Yellow colors */
  --0xf-color-yellow-100: #fffbd8;
  --0xf-color-yellow-300: #fff389;
  --0xf-color-yellow-500: #ffeb3b;
  --0xf-color-yellow-700: #998d23;
  --0xf-color-yellow-900: #332f0c;

  /* Orange colors */
  --0xf-color-orange-100: #ffeacc;
  --0xf-color-orange-300: #ffc166;
  --0xf-color-orange-500: #ff9800;
  --0xf-color-orange-700: #995b00;
  --0xf-color-orange-900: #331e00;

  /* Red colors */
  --0xf-color-red-100: #fdd9d7;
  --0xf-color-red-300: #f88e86;
  --0xf-color-red-500: #f44336;
  --0xf-color-red-700: #922820;
  --0xf-color-red-900: #310d0b;

  /* Aliases */
  --0xf-color-inherit: inherit;

  --0xf-color-white: var(--0xf-color-gray-100);
  --0xf-color-black: var(--0xf-color-gray-900);
  --0xf-color-muted: var(--0xf-color-gray-500);

  --0xf-color-primary: var(--0xf-color-primary-500);
  --0xf-color-secondary: var(--0xf-color-secondary-500);
  --0xf-color-surface: var(--0xf-color-gray-800);

  --0xf-color-body-background-color: var(--0xf-color-gray-900);
  --0xf-color-body-color: var(--0xf-color-gray-100);
}
