$forkitall-breakpoint-xs: 440px; // 0px <= XS < 440px
$forkitall-breakpoint-sm: 768px; // 441px <= SM < 768px
$forkitall-breakpoint-md: 1024px; // 769px <= MD < 1024px
$forkitall-breakpoint-lg: 1200px; // 1025px <= LG < 1200px
$forkitall-breakpoint-xl: 1440px; // 1200px <= XL < 1440px
$forkitall-breakpoint-xxl: 9999px; // 1441 <= XXL < 9999px

// IMPORTANT: the order of the map needs to be HIGH > LOW to correctly set the media query priorities when
// iterating through this list.
$forkitall-breakpoint-list: (
  "xxl": $forkitall-breakpoint-xxl,
  "xl": $forkitall-breakpoint-xl,
  "lg": $forkitall-breakpoint-lg,
  "md": $forkitall-breakpoint-md,
  "sm": $forkitall-breakpoint-sm,
  "xs": $forkitall-breakpoint-xs,
);
