.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding-top: var(--0xf-spacer-50);
  padding-bottom: var(--0xf-spacer-50);
  border-bottom: 1px solid var(--0xf-color-primary);
  background-color: var(--0xf-color-body-background-color);
  transition: border-radius 0.25s;
}

.topbarScroll {
  border-bottom-left-radius: var(--0xf-global-border-radius-l);
  border-bottom-right-radius: var(--0xf-global-border-radius-l);
}
