.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding-top: var(--0xf-spacer-50);
  padding-bottom: var(--0xf-spacer-50);
  border-bottom: 1px solid var(--0xf-color-primary);
  background-color: var(--0xf-color-body-background-color);
  transition: all 0.25s;
}

.topbarScroll {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.topbarLink {
  border-bottom: 2px solid transparent;
  padding: var(--0xf-spacer-25) 0;
}

.topbarLinkActive {
  color: var(--0xf-color-primary-500);
  border-bottom-color: var(--0xf-color-primary);
}

.topbarLinkDisabled {
  color: var(--0xf-color-muted);
  cursor: default;
}
