.topbar {
  padding-top: var(--forkitall-spacer-50);
  padding-bottom: var(--forkitall-spacer-50);
  border-bottom: 1px solid var(--forkitall-color-primary);
  transition: all 0.25s;
}

.topbarScroll {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.topbarLink {
  border-bottom: 2px solid transparent;
  padding: var(--forkitall-spacer-25) 0;
}

.topbarLinkActive {
  color: var(--forkitall-color-primary-500);
  border-bottom-color: var(--forkitall-color-primary);
}

.topbarLinkDisabled {
  color: var(--forkitall-color-muted);
  cursor: default;
}
