$forkitall-chip-size: ("s", "m", "l");

:root {
  /* Properties */
  --0xf-chip-background-color: var(--0xf-color-gray-800);
  --0xf-chip-color: var(--0xf-color-white);
  --0xf-chip-border-radius: var(--0xf-global-border-radius-s);
  --0xf-chip-cursor: default;

  /* Hover */
  --0xf-chip-hover-background-color: var(--0xf-color-gray-700);
  --0xf-chip-hover-color: var(--0xf-color-white);

  /* Sizes */
  --0xf-chip-size-s-font-size: var(--0xf-font-size-87);
  --0xf-chip-size-s-line-height: var(--0xf-body-line-height);
  --0xf-chip-size-s-padding: var(--0xf-spacer-25) var(--0xf-spacer-50);

  --0xf-chip-size-m-font-size: var(--0xf-font-size-100);
  --0xf-chip-size-m-line-height: var(--0xf-body-line-height);
  --0xf-chip-size-m-padding: var(--0xf-spacer-50) var(--0xf-spacer-75);

  --0xf-chip-size-l-font-size: var(--0xf-font-size-125);
  --0xf-chip-size-l-line-height: var(--0xf-body-line-height);
  --0xf-chip-size-l-padding: var(--0xf-spacer-75) var(--0xf-spacer-100);
}

.chip {
  background-color: var(--0xf-chip-background-color);
  color: var(--0xf-chip-color);
  border-radius: var(--0xf-chip-border-radius);
  cursor: var(--0xf-chip-cursor);

  &:hover {
    background-color: var(--0xf-chip-hover-background-color);
    color: var(--0xf-chip-hover-color);
  }
}

@mixin chip-style-size($size) {
  font-size: var(--0xf-chip-size-#{$size}-font-size);
  line-height: var(--0xf-chip-size-#{$size}-line-height);
  padding: var(--0xf-chip-size-#{$size}-padding);
}

@each $size in $forkitall-chip-size {
  .chip--size-#{$size} {
    @include chip-style-size($size);
  }
}
