@use "@shared/styles/breakpoints/breakpoints";

.mainColumn {
  flex-basis: 65%;
}

.blogImageWrapper {
  width: 100%;
  height: 400px;
  position: relative;
}

@media screen and (max-width: breakpoints.$forkitall-breakpoint-md) {
  .mainColumn {
    flex-basis: 100%;
  }
}
