@use "@0xforkitall/ui-kit/src/styles/breakpoints/breakpoints";

.mainColumn {
  flex-basis: 62%;
  max-width: 100%;
}

.blogImageWrapper {
  width: 100%;
  height: 400px;
  position: relative;
}

@media screen and (max-width: breakpoints.$forkitall-breakpoint-md) {
  .mainColumn {
    flex-basis: 100%;
  }
}
