.mainColumn {
  flex-basis: 65%;
}

.infoColumn {
  position: sticky;
  top: calc(var(--0xf-topbar-height) + var(--0xf-spacer-100));
  flex-basis: 35%;
  height: 700px;
  background-color: var(--0xf-color-surface);
  padding: var(--0xf-spacer-100);
  border-radius: var(--0xf-global-border-radius-s);
}

.imageWrapper {
  width: 100%;
  height: 400px;
  position: relative;
}

.markdown {
  p {
    margin-bottom: var(--0xf-spacer-150);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: var(--0xf-spacer-50);
  }
}
