@use "../../styles/utils";
@use "../../styles/breakpoints/breakpoints";

$forkitall-layout-display: (flex, grid);
$forkitall-layout-gap: ("0", "25", "50", "75", "100", "125", "150", "200", "250", "300", "400", "500", "600");
$forkitall-layout-flex-direction: (row, row-reverse, column, column-reverse);
$forkitall-layout-align-items: (center, space-between, end, start, baseline);
$forkitall-layout-justify-content: (center, space-between, end, start);
$forkitall-layout-flex-wrap: (wrap, nowrap);
$forkitall-layout-flex-grow: (0, 1);
$forkitall-layout-flex-basis: (0, 1);
$forkitall-layout-flex-shrink: (0, 1);

@each $gap in $forkitall-layout-gap {
  .layout--gap-#{$gap} {
    gap: var(--0xf-spacer-#{$gap});
  }
  .layout.layout--row-gap-#{$gap} {
    row-gap: var(--0xf-spacer-#{$gap});
  }
}

.layout--full-width {
  width: 100%;
}

.layout--flex-shrink-1 {
  min-width: 0;
}

@each $display in $forkitall-layout-display {
  .layout--display-#{$display} {
    display: $display;
  }
}

@each $align-items in $forkitall-layout-align-items {
  .layout--align-items-#{$align-items} {
    align-items: $align-items;
  }
}

@each $justify-content in $forkitall-layout-justify-content {
  .layout--justify-content-#{$justify-content} {
    justify-content: $justify-content;
  }
}

@each $flex-wrap in $forkitall-layout-flex-wrap {
  .layout--flex-wrap-#{$flex-wrap} {
    flex-wrap: $flex-wrap;
  }
}

@each $flex-grow in $forkitall-layout-flex-grow {
  .layout--flex-grow-#{$flex-grow} {
    flex-grow: $flex-grow;
  }
}

@each $flex-basis in $forkitall-layout-flex-basis {
  .layout--flex-basis-#{$flex-basis} {
    flex-basis: $flex-basis;
  }
}

@each $flex-shrink in $forkitall-layout-flex-shrink {
  .layout--flex-shrink-#{$flex-shrink} {
    flex-shrink: $flex-shrink;
  }
}

@each $flex-direction in $forkitall-layout-flex-direction {
  .layout--flex-direction-#{$flex-direction} {
    flex-direction: $flex-direction;
  }

  @each $breakpoint-name, $breakpoint-width in breakpoints.$forkitall-breakpoint-list {
    @media screen and (max-width: $breakpoint-width) {
      .layout.layout--flex-direction-#{$breakpoint-name}-#{$flex-direction} {
        flex-direction: $flex-direction;
      }
    }
  }
}
