:root {
  /* Properties */
  --0xf-code-block-border: 1px solid var(--0xf-color-divider);

  /* Inline variant */
  --0xf-code-block-inline-background-color: var(--0xf-color-surface);
  --0xf-code-block-inline-border: 0.5px solid var(--0xf-color-divider);
}

.code-block {
  border: var(--0xf-code-block-border);
}

.code-block--inline {
  background-color: var(--0xf-code-block-inline-background-color);
  border: var(--0xf-code-block-inline-border);
}
