@use "../../styles/breakpoints/breakpoints";

:root {
  /* Properties */
  --0xf-container-max-width: 1400px;
  --0xf-container-padding-right: var(--0xf-spacer-300);
  --0xf-container-padding-left: var(--0xf-spacer-300);

  /* Responsive */
  --0xf-container-breakpoint-lg-padding-right: var(--0xf-spacer-150);
  --0xf-container-breakpoint-lg-padding-left: var(--0xf-spacer-150);

  --0xf-container-breakpoint-md-padding-right: var(--0xf-spacer-100);
  --0xf-container-breakpoint-md-padding-left: var(--0xf-spacer-100);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--0xf-container-padding-right);
  padding-left: var(--0xf-container-padding-left);
  max-width: var(--0xf-container-max-width);
}

@mixin container-style-responsive($breakpoint) {
  :root {
    --0xf-container-padding-right: var(--0xf-container-breakpoint-#{$breakpoint}-padding-right);
    --0xf-container-padding-left: var(--0xf-container-breakpoint-#{$breakpoint}-padding-left);
  }
}

@media screen and (max-width: breakpoints.$forkitall-breakpoint-lg) {
  @include container-style-responsive("lg");
}
@media screen and (max-width: breakpoints.$forkitall-breakpoint-md) {
  @include container-style-responsive("md");
}
