.markdown-parser {
  p,
  pre,
  ol,
  ul {
    margin-bottom: var(--0xf-spacer-100);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: var(--0xf-spacer-200);
    margin-bottom: var(--0xf-spacer-50);
  }
}
