@use "./utils";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* Typography */
  font-family: var(--forkitall-body-font-family);
  font-size: var(--forkitall-body-font-size);
  line-height: var(--forkitall-body-line-height);
  font-weight: var(--forkitall-body-font-weight);
  font-style: var(--forkitall-body-font-style);
  text-rendering: var(--forkitall-body-text-rendering);

  /* Colors */
  background-color: var(--forkitall-color-body-background-color);
  color: var(--forkitall-color-body-color);

  @include utils.style-scrollbar();
}
