:root {
  // Primary colors
  --forkitall-color-primary-500: #91ff80;
  --forkitall-color-primary-700: #65b359;

  // Gray colors
  --forkitall-color-gray-100: #f1f1f1;
  --forkitall-color-gray-300: #d2d2d2;
  --forkitall-color-gray-900: #1e1e1e;
}
