:root {
  /* Primary colors */
  --forkitall-color-primary-500: #91ff80;
  --forkitall-color-primary-700: #65b359;

  /* Gray colors */
  --forkitall-color-gray-100: #f1f1f1;
  --forkitall-color-gray-300: #d2d2d2;
  --forkitall-color-gray-500: #797979;
  --forkitall-color-gray-900: #1e1e1e;

  /* Aliases */
  --forkitall-color-white: var(--forkitall-color-gray-100);
  --forkitall-color-black: var(--forkitall-color-gray-900);
  --forkitall-color-muted: var(--forkitall-color-gray-500);
  --forkitall-color-primary: var(--forkitall-color-primary-500);
  --forkitall-color-body-background-color: var(--forkitall-color-gray-900);
  --forkitall-color-body-color: var(--forkitall-color-gray-100);
}
