:root {
  /* Scroll bars */
  --0xf-global-scrollbar-width: 6px;
  --0xf-global-scrollbar-track-color: var(--0xf-color-gray-800);
  --0xf-global-scrollbar-thumb-color: var(--0xf-color-primary);
  --0xf-global-scrollbar-thumb-border-radius: 0px;

  /* Border radius */
  --0xf-global-border-radius-s: 4px;
  --0xf-global-border-radius-m: 8px;
  --0xf-global-border-radius-l: 16px;
  --0xf-global-border-radius-xl: 32px;
}
