:root {
  /* Scroll bars */
  --forkitall-global-scrollbar-width: 6px;
  --forkitall-global-scrollbar-track-color: var(--forkitall-color-gray-900);
  --forkitall-global-scrollbar-thumb-color: var(--forkitall-color-primary-500);
  --forkitall-global-scrollbar-thumb-border-radius: 0px;
}
