:root {
  --forkitall-spacer-base: 16px;

  --forkitall-spacer-0: 0; // 0
  --forkitall-spacer-25: calc(var(--forkitall-spacer-base) * 1 / 4); // 4px
  --forkitall-spacer-50: calc(var(--forkitall-spacer-base) * 1 / 2); // 8px
  --forkitall-spacer-75: calc(var(--forkitall-spacer-base) * 3 / 4); // 12px
  --forkitall-spacer-100: var(--forkitall-spacer-base); // 16px
  --forkitall-spacer-125: calc(var(--forkitall-spacer-base) * 5 / 4); // 20px
  --forkitall-spacer-150: calc(var(--forkitall-spacer-base) * 3 / 2); // 24px
  --forkitall-spacer-200: calc(var(--forkitall-spacer-base) * 2); // 32px
  --forkitall-spacer-250: calc(var(--forkitall-spacer-base) * 5 / 2); // 44px
  --forkitall-spacer-300: calc(var(--forkitall-spacer-base) * 3); // 48px
  --forkitall-spacer-400: calc(var(--forkitall-spacer-base) * 4); // 64px
  --forkitall-spacer-500: calc(var(--forkitall-spacer-base) * 5); // 80px
  --forkitall-spacer-600: calc(var(--forkitall-spacer-base) * 6); // 96px
}
