:root {
  --0xf-spacer-base: 16px;

  --0xf-spacer-0: 0; // 0
  --0xf-spacer-25: calc(var(--0xf-spacer-base) * 1 / 4); // 4px
  --0xf-spacer-50: calc(var(--0xf-spacer-base) * 1 / 2); // 8px
  --0xf-spacer-75: calc(var(--0xf-spacer-base) * 3 / 4); // 12px
  --0xf-spacer-100: var(--0xf-spacer-base); // 16px
  --0xf-spacer-125: calc(var(--0xf-spacer-base) * 5 / 4); // 20px
  --0xf-spacer-150: calc(var(--0xf-spacer-base) * 3 / 2); // 24px
  --0xf-spacer-200: calc(var(--0xf-spacer-base) * 2); // 32px
  --0xf-spacer-250: calc(var(--0xf-spacer-base) * 5 / 2); // 44px
  --0xf-spacer-300: calc(var(--0xf-spacer-base) * 3); // 48px
  --0xf-spacer-400: calc(var(--0xf-spacer-base) * 4); // 64px
  --0xf-spacer-500: calc(var(--0xf-spacer-base) * 5); // 80px
  --0xf-spacer-600: calc(var(--0xf-spacer-base) * 6); // 96px
}
