@use "./breakpoints";

// Styles the scrollbar using the scrollbar global variables
@mixin style-scrollbar() {
  overscroll-behavior: auto;
  scrollbar-width: thin;
  -ms-overflow-style: scrollbar;

  &::-webkit-scrollbar {
    width: var(--0xf-global-scrollbar-width);
  }

  &::-webkit-scrollbar:vertical {
    width: var(--0xf-global-scrollbar-width);
  }

  &::-webkit-scrollbar:horizontal {
    width: var(--0xf-global-scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background: var(--0xf-global-scrollbar-track-color);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--0xf-global-scrollbar-thumb-color);
    border-radius: var(--0xf-global-scrollbar-thumb-border-radius);
  }
}
