@use "@shared/styles/breakpoints";

.skillsSectionBlock {
  padding: var(--0xf-spacer-200) var(--0xf-spacer-100);
  border: 1px solid var(--0xf-color-white);
  text-align: center;
  min-width: 400px;
}

.skillIconWrapper {
  --0xf-icon-size: 80px;
  --0xf-icon-color: var(--0xf-color-primary);
  width: 120px;
  height: 120px;
  transition: transform 1s;
}

.skillIconWrapper:hover {
  transform: rotate(360deg);
}

@media screen and (max-width: breakpoints.$forkitall-breakpoint-m) {
  .skillsSectionBlock {
    min-width: auto;
  }
}
