@use "../../styles/typography/utils";
@use "../text";

$forkitall-link-size: text.$forkitall-text-size;

:root {
  /* Properties */
  --0xf-link-cursor: pointer;
  --0xf-link-text-decoration: none;
  --0xf-link-text-underline-offset: var(--0xf-spacer-25);
  --0xf-link-color: inherit;

  /* Disabled */
  --0xf-link-disabled-color: var(--0xf-color-muted);
  --0xf-link-disabled-cursor: default;
}

.link {
  cursor: var(--0xf-link-cursor);
  text-decoration: var(--0xf-link-text-decoration);
  color: var(--0xf-link-color);
  text-underline-offset: var(--0xf-link-text-underline-offset);
}

.link--disabled {
  color: var(--0xf-link-disabled-color);
  cursor: var(--0xf-link-disabled-cursor);
  pointer-events: none;
}

.link--truncate {
  @include utils.truncate();
}

.link--variant-underline {
  text-decoration: underline;
}
.link--variant-hover-underline:hover {
  text-decoration: underline;
}

@each $size in $forkitall-link-size {
  .link--size-#{$size} {
    font-size: var(--0xf-text-size-#{$size}-font-size);
    line-height: var(--0xf-text-size-#{$size}-line-height);
    font-weight: var(--0xf-text-size-#{$size}-font-weight);
  }
}

@each $color in text.$forkitall-text-color {
  .link--color-#{$color} {
    color: var(--0xf-color-#{$color});
  }
}
