@use "../../styles/utils";
@use "../text";
$forkitall-link-size: ("xl", "l", "m", "s");

:root {
  /* Properties */
  --0xf-link-cursor: pointer;
  --0xf-link-text-decoration: none;

  /* Sizes */
  --0xf-link-size-xl-font-size: var(--0xf-text-size-xl-font-size);
  --0xf-link-size-xl-line-height: var(--0xf-text-size-xl-line-height);
  --0xf-link-size-xl-font-weight: var(--0xf-text-size-xl-font-weight);

  --0xf-link-size-l-font-size: var(--0xf-text-size-l-font-size);
  --0xf-link-size-l-line-height: var(--0xf-text-size-l-line-height);
  --0xf-link-size-l-font-weight: var(--0xf-text-size-l-font-weight);

  --0xf-link-size-m-font-size: var(--0xf-text-size-m-font-size);
  --0xf-link-size-m-line-height: var(--0xf-text-size-m-line-height);
  --0xf-link-size-m-font-weight: var(--0xf-text-size-m-font-weight);

  --0xf-link-size-s-font-size: var(--0xf-text-size-s-font-size);
  --0xf-link-size-s-line-height: var(--0xf-text-size-s-line-height);
  --0xf-link-size-s-font-weight: var(--0xf-text-size-s-font-weight);
}

.link {
  @include utils.apply-properties("link", ("cursor", "text-decoration"));
}

@each $size in $forkitall-link-size {
  .link--size-#{$size} {
    @include utils.apply-typography("link-size-#{$size}");
  }
}

@each $color in text.$forkitall-text-color {
  .link--color-#{$color} {
    color: var(--0xf-color-#{$color});
  }
}
