.footer {
  margin-top: var(--0xf-spacer-500);
  background-color: var(--0xf-color-surface);
  border-top-left-radius: var(--0xf-global-border-radius-l);
  border-top-right-radius: var(--0xf-global-border-radius-l);
}

.footerMain {
  padding: var(--0xf-spacer-50) 0;
}

.footerCopyright {
  background-color: var(--0xf-color-body-background-color);
  padding: var(--0xf-spacer-25) 0;
}
