.infiniteCarousel {
  position: relative;
  animation: scroll 60s linear infinite;
  cursor: pointer;
}

.infiniteCarousel:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(var(--0xf-infinite-carousel-width));
  }
}
