@use "../../styles/utils";
$forkitall-button-variant: ("primary", "outline", "neutral-white", "neutral-black");

:root {
  /* Properties */
  --0xf-button-display: flex;
  --0xf-button-align-items: center;
  --0xf-button-gap: var(--0xf-spacer-75);
  --0xf-button-border-radius: 50px;
  --0xf-button-padding: var(--0xf-spacer-50) var(--0xf-spacer-125);
  --0xf-button-cursor: pointer;
  --0xf-button-text-decoration: none;

  /* Button icon */
  --0xf-button-icon-size: 24px;

  /* Only-icon modifier */
  --0xf-button-only-icon-padding: var(--0xf-spacer-50);

  /* Typography */
  --0xf-button-font-size: var(--0xf-font-size-125);
  --0xf-button-line-height: var(--0xf-line-height-125);
  --0xf-button-font-weight: var(--0xf-font-weight-bold);
  --0xf-button-font-family: var(--0xf-body-font-family);
  --0xf-button-font-style: var(--0xf-font-style-normal);

  /* Primary variant */
  --0xf-button-variant-primary-color: var(--0xf-color-black);
  --0xf-button-variant-primary-background-color: var(--0xf-color-primary);
  --0xf-button-variant-primary-border: 2px solid var(--0xf-color-primary);
  --0xf-button-variant-primary-icon-color: var(--0xf-color-black);

  --0xf-button-variant-primary-hover-color: var(--0xf-color-black);
  --0xf-button-variant-primary-hover-background-color: var(--0xf-color-primary-600);
  --0xf-button-variant-primary-hover-border: 2px solid var(--0xf-color-primary-600);
  --0xf-button-variant-primary-hover-icon-color: var(--0xf-color-black);

  /* Outline variant */
  --0xf-button-variant-outline-color: var(--0xf-color-white);
  --0xf-button-variant-outline-background-color: transparent;
  --0xf-button-variant-outline-border: 2px solid var(--0xf-color-primary);
  --0xf-button-variant-outline-icon-color: var(--0xf-color-white);

  --0xf-button-variant-outline-hover-color: var(--0xf-color-white);
  --0xf-button-variant-outline-hover-background-color: transparent;
  --0xf-button-variant-outline-hover-border: 2px solid var(--0xf-color-primary-600);
  --0xf-button-variant-outline-hover-icon-color: var(--0xf-color-white);

  /* Neutral-white variant */
  --0xf-button-variant-neutral-white-color: var(--0xf-color-white);
  --0xf-button-variant-neutral-white-background-color: transparent;
  --0xf-button-variant-neutral-white-border: 2px solid transparent;
  --0xf-button-variant-neutral-white-icon-color: var(--0xf-color-white);

  --0xf-button-variant-neutral-white-hover-color: var(--0xf-color-white);
  --0xf-button-variant-neutral-white-hover-background-color: transparent;
  --0xf-button-variant-neutral-white-hover-border: 2px solid transparent;
  --0xf-button-variant-neutral-white-hover-icon-color: var(--0xf-color-white);

  /* Neutral-black variant */
  --0xf-button-variant-neutral-black-color: var(--0xf-color-black);
  --0xf-button-variant-neutral-black-background-color: transparent;
  --0xf-button-variant-neutral-black-border: 2px solid transparent;
  --0xf-button-variant-neutral-black-icon-color: var(--0xf-color-black);

  --0xf-button-variant-neutral-black-hover-color: var(--0xf-color-black);
  --0xf-button-variant-neutral-black-hover-background-color: transparent;
  --0xf-button-variant-neutral-black-hover-border: 2px solid transparent;
  --0xf-button-variant-neutral-black-hover-icon-color: var(--0xf-color-black);
}

.button {
  --0xf-icon-size: var(--0xf-button-icon-size);
  @include utils.apply-typography("button");
  @include utils.apply-properties(
    "button",
    ("display", "align-items", "gap", "border-radius", "padding", "cursor", "text-decoration")
  );
}

.button--only-icon {
  @include utils.apply-properties("button", ("padding"), "only-icon");
}

@mixin button-style-variant($variant, $modifier: "") {
  @include utils.apply-properties("button-variant-#{$variant}", ("color", "background-color", "border"), $modifier);
}

@each $variant in $forkitall-button-variant {
  .button--variant-#{$variant} {
    --0xf-icon-color: var(--0xf-button-variant-#{$variant}-icon-color);
    @include button-style-variant($variant);

    &:hover {
      --0xf-icon-color: var(--0xf-button-variant-#{$variant}-hover-icon-color);
      @include button-style-variant($variant, "hover");
    }
  }
}
