$forkitall-button-variant: ("primary", "outline", "neutral-white", "neutral-black");

:root {
  /* Properties */
  --0xf-button-display: flex;
  --0xf-button-align-items: center;
  --0xf-button-gap: var(--0xf-spacer-75);
  --0xf-button-border-radius: var(--0xf-global-border-radius-m);
  --0xf-button-padding: var(--0xf-spacer-50) var(--0xf-spacer-125);
  --0xf-button-cursor: pointer;
  --0xf-button-text-decoration: none;

  /* Button icon */
  --0xf-button-icon-size: 24px;

  /* Only-icon modifier */
  --0xf-button-only-icon-padding: var(--0xf-spacer-50);

  /* Typography */
  --0xf-button-font-size: var(--0xf-text-size-l-font-size);
  --0xf-button-line-height: var(--0xf-text-size-l-line-height);
  --0xf-button-font-weight: var(--0xf-font-weight-bold);
  --0xf-button-font-family: var(--0xf-body-font-family);
  --0xf-button-font-style: var(--0xf-font-style-normal);

  /* Primary variant */
  --0xf-button-variant-primary-color: var(--0xf-color-black);
  --0xf-button-variant-primary-background-color: var(--0xf-color-primary);
  --0xf-button-variant-primary-border: 2px solid var(--0xf-color-primary);
  --0xf-button-variant-primary-icon-color: var(--0xf-color-black);

  --0xf-button-variant-primary-hover-color: var(--0xf-color-black);
  --0xf-button-variant-primary-hover-background-color: var(--0xf-color-primary-600);
  --0xf-button-variant-primary-hover-border: 2px solid var(--0xf-color-primary-600);
  --0xf-button-variant-primary-hover-icon-color: var(--0xf-color-black);

  /* Outline variant */
  --0xf-button-variant-outline-color: var(--0xf-color-white);
  --0xf-button-variant-outline-background-color: transparent;
  --0xf-button-variant-outline-border: 2px solid var(--0xf-color-primary);
  --0xf-button-variant-outline-icon-color: var(--0xf-color-white);

  --0xf-button-variant-outline-hover-color: var(--0xf-color-white);
  --0xf-button-variant-outline-hover-background-color: transparent;
  --0xf-button-variant-outline-hover-border: 2px solid var(--0xf-color-primary-600);
  --0xf-button-variant-outline-hover-icon-color: var(--0xf-color-white);

  /* Neutral-white variant */
  --0xf-button-variant-neutral-white-color: var(--0xf-color-white);
  --0xf-button-variant-neutral-white-background-color: transparent;
  --0xf-button-variant-neutral-white-border: 2px solid transparent;
  --0xf-button-variant-neutral-white-icon-color: var(--0xf-color-white);

  --0xf-button-variant-neutral-white-hover-color: var(--0xf-color-gray-200);
  --0xf-button-variant-neutral-white-hover-background-color: transparent;
  --0xf-button-variant-neutral-white-hover-border: 2px solid transparent;
  --0xf-button-variant-neutral-white-hover-icon-color: var(--0xf-color-gray-200);

  /* Neutral-black variant */
  --0xf-button-variant-neutral-black-color: var(--0xf-color-black);
  --0xf-button-variant-neutral-black-background-color: transparent;
  --0xf-button-variant-neutral-black-border: 2px solid transparent;
  --0xf-button-variant-neutral-black-icon-color: var(--0xf-color-black);

  --0xf-button-variant-neutral-black-hover-color: var(--0xf-color-gray-700);
  --0xf-button-variant-neutral-black-hover-background-color: transparent;
  --0xf-button-variant-neutral-black-hover-border: 2px solid transparent;
  --0xf-button-variant-neutral-black-hover-icon-color: var(--0xf-color-gray-700);
}

.button {
  --0xf-icon-size: var(--0xf-button-icon-size);

  display: var(--0xf-button-display);
  align-items: var(--0xf-button-align-items);
  gap: var(--0xf-button-gap);
  border-radius: var(--0xf-button-border-radius);
  padding: var(--0xf-button-padding);
  cursor: var(--0xf-button-cursor);
  text-decoration: var(--0xf-button-text-decoration);

  font-size: var(--0xf-button-font-size);
  line-height: var(--0xf-button-line-height);
  font-weight: var(--0xf-button-font-weight);
  font-family: var(--0xf-button-font-family);
  font-style: var(--0xf-button-font-style);
}

.button--only-icon {
  padding: var(--0xf-button-only-icon-padding);
}

@mixin button-style-variant($variant, $modifier: "") {
  $processed-variant: if($modifier != "", "#{$variant}-#{$modifier}", "#{$variant}");

  color: var(--0xf-button-variant-#{$processed-variant}-color);
  background-color: var(--0xf-button-variant-#{$processed-variant}-background-color);
  border: var(--0xf-button-variant-#{$processed-variant}-border);
}

@each $variant in $forkitall-button-variant {
  .button--variant-#{$variant} {
    --0xf-icon-color: var(--0xf-button-variant-#{$variant}-icon-color);
    @include button-style-variant($variant);

    &:hover {
      --0xf-icon-color: var(--0xf-button-variant-#{$variant}-hover-icon-color);
      @include button-style-variant($variant, "hover");
    }
  }
}
