@use "@shared/styles/breakpoints/breakpoints";

.newestSection {
  background-color: var(--0xf-color-surface);
  border-radius: var(--0xf-global-border-radius-m);
  overflow: hidden;
  min-height: 350px;
}

.newestPost {
  flex-basis: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.newestPost:hover .newestPostImage {
  transform: scale(1.1);
  opacity: 0.9;
}
.newestPost:hover .newestPostTitle {
  background-color: rgb(24 24 24 / 90%);
}

.newestPostImage {
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.8;
}

.newestPostTitle {
  padding: var(--0xf-spacer-100);
  background-color: rgb(24 24 24 / 80%);
  z-index: 5;
  transition: background-color 0.3s;
}

.latestPosts {
  flex-basis: 40%;
  padding: var(--0xf-spacer-100);
}

@media screen and (max-width: breakpoints.$forkitall-breakpoint-md) {
  .newestPost {
    height: 400px;
    flex-basis: auto;
  }
}

:global(.forkitall-theme-LIGHT) .newestPostTitle {
  background-color: rgb(228 228 228 / 80%);
}
:global(.forkitall-theme-LIGHT) .newestPost:hover .newestPostTitle {
  background-color: rgb(228 228 228 / 90%);
}
