:root {
  /* Font sizes */
  --0xf-font-size-base: 20px;
  --0xf-font-size-inherit: inherit;

  --0xf-font-size-75: calc(var(--0xf-font-size-base) * 3 / 4); // 12px
  --0xf-font-size-87: calc(var(--0xf-font-size-base) * 7 / 8); // 14px
  --0xf-font-size-100: var(--0xf-font-size-base); // 16px
  --0xf-font-size-125: calc(var(--0xf-font-size-base) * 5 / 4); // 20px
  --0xf-font-size-150: calc(var(--0xf-font-size-base) * 3 / 2); // 24px
  --0xf-font-size-200: calc(var(--0xf-font-size-base) * 2); // 32px
  --0xf-font-size-250: calc(var(--0xf-font-size-base) * 5 / 2); // 40px
  --0xf-font-size-300: calc(var(--0xf-font-size-base) * 3); // 48px
  --0xf-font-size-400: calc(var(--0xf-font-size-base) * 4); // 64px

  /* Font weights */
  --0xf-font-weight-light: 300;
  --0xf-font-weight-medium: 400;
  --0xf-font-weight-bold: 600;
  --0xf-font-weight-inherit: inherit;

  /* Font styles */
  --0xf-font-style-normal: normal;
  --0xf-font-style-italic: italic;
  --0xf-font-style-inherit: inherit;

  /* Body typography */
  --0xf-body-font-family: Inconsolata, monospace, arial;
  --0xf-body-font-size: var(--0xf-font-size-100);
  --0xf-body-line-height: 1.5;
  --0xf-body-font-weight: var(--0xf-font-weight-medium);
  --0xf-body-font-style: var(--0xf-font-style-normal);
  --0xf-body-text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Inconsolata";
  src:
    local("Inconsolata Light"),
    local("Inconsolata Light"),
    url("../../assets/fonts/Inconsolata-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src:
    local("Inconsolata Regular"),
    local("Inconsolata Regular"),
    url("../../assets/fonts/Inconsolata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src:
    local("Inconsolata SemiBold"),
    local("Inconsolata SemiBold"),
    url("../../assets/fonts/Inconsolata-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
